<!-- Button trigger modal -->
<div class="container">
  <div class="row">
    <div class="col-md-0">
  
    </div>
    <div class="col-md-12">
     
          <button
          (click)="addEvent()"
          type="button"
          class="btn btn-outline-success"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Add Event
        </button>
        &nbsp;
       
          <!-- <button
          type="button"
          class="btn btn-outline-warning scrollToBottom"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          List Event
        </button> -->
       
    </div>
  </div>
</div>

<div class="container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
<br /> 

<!-- <div class="row">
  <div class="col-sm-8">
    <div class="card card-cyan">
      <div class="card-header">
        <h3 class="card-title">Events</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h3>Events</h3>
            <div  *ngFor="let event of eventsMs">
              <i class="fas fa-circle text-green"></i>
              {{event.title}}
            </div>
          </div>
          <div class="col-sm-2">
            <h3>Colors</h3>
            <div  *ngFor="let event of eventsMs">
              {{event.color}}
            </div>
          </div>
          <div class="col-sm-3">
            <h3>Date</h3>
            <div  *ngFor="let event of eventsMs">
              {{event.date}}
            </div>
          </div>
         
        </div>
        
      </div>
    </div>
  </div>
</div> -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Event</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #addeventform="ngForm" (ngSubmit)="addEventDb(addeventform)">
        <div class="modal-body">
          <!-- <div class="form-group">
          <label>Date</label>
          <input type="text" class="form-control" #dateM="ngModel" [(ngModel)]="eventM.date" name="dateM" id="dateM"  />
        </div> -->

          <div class="form-group">
            <label>Title</label>
            <input
              type="text"
              class="form-control"
              #titleM="ngModel"
              [(ngModel)]="eventM.title"
              name="titleM"
              id="titleM"
            />
          </div>

          <mat-form-field appearance="fill">
            <mat-label>Choose a date:&nbsp;</mat-label>
            <input
              disabled
              matInput
              [matDatepicker]="picker"
              #dateM="ngModel"
              [(ngModel)]="eventM.date"
              name="dateM"
              id="dateM"
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker disabled="false" #picker></mat-datepicker>
          </mat-form-field>
          <p></p>
 
          <mat-form-field>
            <mat-label>Choose a time:&nbsp;</mat-label>
            <input
              [format]=24
              matInput
              aria-label="default time"
              [ngxTimepicker]="defaultValue"
              [value]="'0:00 am'"
              [(ngModel)]="eventM.time"
              #timeM="ngModel"
              name="timeM"
              
            />
            <ngx-material-timepicker #defaultValue > </ngx-material-timepicker>
          </mat-form-field>

          <div class="form-group">
            <label>Color</label>
            <select
              class="form-control"
              #colorM="ngModel"
              [(ngModel)]="eventM.color"
              name="colorM"
              id="colorM"
            >
              <option>Green</option>
              <option>Red</option>
              <option>Blue</option>
              <option>Cyan</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          <button type="submit" class="btn btn-primary">Save Event</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="eventtable">
  <table 
  datatable
  [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"
  class="row-border hover"
>
  <thead>
    <tr>
      <th>Event ID</th>
      <th>Title</th>
      <th>Date</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of eventsMs">
      <td>{{ event.id }}</td>
      <td>{{ event.title }}</td>
      <td>{{ event.date }}</td>
      <td>

        <a (click)="deleteEvent(event.id)">
          <button class="btn btn-outline-danger">Delete</button>
        </a>

      </td>
    </tr>
  </tbody>
</table>
</div>

<!-- <div class="d-flex flex-row-reverse">
  <div class="p-2">
    <button class="scrollToTop"><i class="fas fa-arrow-up"></i></button>
  </div>
  
</div> -->

<!-- <div class="">
  <button class="js-gotop"><i class="fas fa-arrow-up"></i></button>
	
	</div> -->

