<div class="row">
  <div class="col-sm-4">
    <div class="card card-cyan">
      <div class="card-header">
        <h3 class="card-title">Events</h3>
      </div>
      <div class="card-body">
        <div>
          <i class="fas fa-circle text-green"></i>
          <span>&nbsp;Event1</span>
        </div>
        <div>
          <i class="fas fa-circle text-blue"></i>
          <span>&nbsp;Event1</span>
        </div>
        <div>
          <i class="fas fa-circle text-red"></i>
          <span>&nbsp;Event1</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>
