<!-- Button trigger modal -->
<div class="container">
  <div class="row">
    <div class="col-md-0"></div>
    <div class="col-md-12">
      <button
        (click)="addEvent()"
        type="button"
        class="btn btn-outline-success"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        Add Event
      </button>
      &nbsp;
    </div>
  </div>
</div>

<full-calendar [options]="calendarOptions"></full-calendar>

<br />

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Event</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #addeventform="ngForm" (ngSubmit)="addEventDb(addeventform)">
        <div class="modal-body">
          <div class="form-group">
            <label>Title</label>
            <input
              type="text"
              class="form-control"
              #titleM="ngModel"
              [(ngModel)]="eventM.title"
              name="titleM"
              id="titleM"
              required
            />
          </div>
          <div
            *ngIf="titleM.invalid && titleM.dirty"
            class="alert alert-danger"
          >
            Title Required
          </div>

          <mat-form-field appearance="fill">
            <mat-label>Choose a date:&nbsp;</mat-label>
            <input
              disabled
              matInput
              [matDatepicker]="picker"
              #dateM="ngModel"
              [(ngModel)]="eventM.date"
              name="dateM"
              id="dateM"
              required
            />
            <div
              *ngIf="dateM.invalid && dateM.dirty"
              class="alert alert-danger"
            >
              Date Required
            </div>

            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker disabled="false" #picker></mat-datepicker>
          </mat-form-field>
          <p></p>

          <mat-form-field>
            <mat-label>Choose a time:&nbsp;</mat-label>
            <input
              [format]="24"
              matInput
              aria-label="default time"
              [ngxTimepicker]="defaultValue"
              [value]="'0:00 am'"
              [(ngModel)]="eventM.time"
              #timeM="ngModel"
              name="timeM"
              required
            />
            <ngx-material-timepicker #defaultValue> </ngx-material-timepicker>
          </mat-form-field>
          <div *ngIf="timeM.invalid && timeM.dirty" class="alert alert-danger">
            Time Required
          </div>

          <div class="form-group">
            <label>Color</label>
            <select
              class="form-control"
              #colorM="ngModel"
              [(ngModel)]="eventM.color"
              name="colorM"
              id="colorM"
              required
            >
              <option>Green</option>
              <option>Red</option>
              <option>Blue</option>
              <option>Cyan</option>
            </select>
          </div>
          <div
            *ngIf="colorM.invalid && colorM.dirty"
            class="alert alert-danger"
          >
            Color Required
          </div>

          <div class="form-group">
            <label>Category</label>
            <select
              class="form-control"
              #eventCategoryId="ngModel"
              [(ngModel)]="eventM.eventCategoryId"
              name="eventCategoryId"
              id="eventCategoryId"
              required
            >
              <option value="1">Entertainment</option>
              <option value="2">Jop</option>
              <option value="3">Activity</option>
            </select>
          </div>

          <div
            *ngIf="eventCategoryId.invalid && eventCategoryId.dirty"
            class="alert alert-danger"
          >
            Category Required
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="addeventform.invalid"
          >
            Save Event
          </button>
          <br /><br />
          <div
            *ngIf="addeventform.invalid"
            class="alert alert-success alert-dismissible fade show"
            role="alert"
          >
            <strong>Save Event Disabled</strong> It will be active if the
            required fields are filled
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container" id="eventtable">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 100px" (click)="sortbyid('id')">
          ID &nbsp; <i class="fa fa-sort"></i>
        </th>
        <th>Title</th>
        <th style="width: 300px">Category</th>
        <th style="width: 300px">Date</th>
        <th style="width: 100px">Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let event of eventCategoryDtos
            | orderBy: key:reverse
            | paginate
              : {
                  id: 'eventpaginate',
                  itemsPerPage: 5,
                  currentPage: pevent
                }
        "
      >
        <th>{{ event.id | slice: 0:4 }}</th>
        <td>{{ event.title }}</td>
        <td>{{ event.eventCategoryName }}</td>
        <td>{{ event.date | date }}</td>
        <td>
          <a (click)="deleteEvent(event.id)">
            <button class="btn btn-outline-danger">Delete</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="card-footer clearfix">
  <ul class="pagination pagination-sm m-0 float-right">
    <pagination-controls id="eventpaginate" (pageChange)="pevent = $event">
    </pagination-controls>
  </ul>
</div>
