<div class="d-flex justify-content-center">
    <h3 class="m-0 text-dark">Welcome Blog Content Manager System</h3>
</div>

<br>
<div class="row">
    <div class="col-sm-6">
        <div class="card card-danger">
            <div class="card-header">Learning Tech</div>
                <app-admin-charts-learningtech></app-admin-charts-learningtech>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-cyan">
            <div class="card-header">Info Box</div>
            <div class="card-body">
                <app-admin-infobox></app-admin-infobox>
            </div>
        </div>
    </div>
</div>




