<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->



    <a routerLink="firstpage" class="brand-link" (click)="activebloglink()">
      <img
        src="assets/img/pngwing.png"
        alt="AdminLTE Logo"
        class="brand-image"
        style="opacity: 0.8"
      />
     
          <span class="brand-text font-weight-light">Blog CMS</span>
        
         
    </a>
  



  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/oko.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" class="d-block"> Okan YILDIRIM</a>
      </div>
   
    </div>
    <a href="">
      <button type="button" class="btn btn-block btn-info">Client</button>
    </a>
    <br>


    
   
     
 


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a
            routerLink="firstpage"
            class="nav-link"
            (click)="activehomepagef()"
            [class.active]="activehomepage"
          >
            <i class="nav-icon fas fa-home"></i>
            <p>
              Home Page
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview" [class.menu-open]="menuopen">
          <a
            href="#"
            class="nav-link"
            (click)="activepagesf()"
            [class.active]="activepages"
          >
            <i class="nav-icon fas fa-file"></i>
            <p>
              PAGES
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="home"
                (click)="activehomef()"
                [class.nav-link]="navlink"
                [class.active]="activehome"
              >
                <!-- class="nav-link active" -->
                <i class="far fa-circle nav-icon"></i>
                <p>Home</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="service"
                (click)="activeservicef()"
                [class.nav-link]="navlink"
                [class.active]="activeservice"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Services</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="work"
                (click)="activeworkf()"
                [class.nav-link]="navlink"
                [class.active]="activework"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Work</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="about"
                (click)="activeaboutf()"
                [class.nav-link]="navlink"
                [class.active]="activeabout"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>About</p>
              </a>
            </li>

            <li class="nav-item">
              <a
                routerLink="blog"
                (click)="activeblogf()"
                [class.nav-link]="navlink"
                [class.active]="activeblog"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Blog</p>
              </a>
            </li>
          </ul>
        </li>

        
        
        <li class="nav-header">CALENDAR</li>
        <li class="nav-item">
          <a routerLink="fullcalendar" class="nav-link"
          (click)="activecalendarf()"
          [class.active]="activecalendar"
          >
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Tasks
              <span class="badge badge-info right">{{eventCount}}</span>
            </p>
          </a>
        </li>
        
        
       
        <li class="nav-header">ACCOUNT</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">Log Out</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-warning"></i>
            <p>Password Change</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p>Informational</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
