
<!-- general form elements -->
<div class="card card-warning ">
    <div class="card-header">
      <h3 class="card-title">Update By "{{devops.title}}" </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    
        <form #updatedevopsform="ngForm"  (ngSubmit)="updateform(updatedevopsform)"  >

            <div class="row">
              <div class="col-sm-8">
                <!-- text input -->
                <div class="form-group">
                  <label>Title</label>
                  <input   type="text" class="form-control" #title="ngModel" [(ngModel)]="devops.title" name="title" id="title" />
                </div>
              </div>
            </div>
        
           
        
            <div class="form-group">
              <label>Content</label>
              <textarea
                class="form-control"
                rows="3"
               
                #content="ngModel" [(ngModel)]="devops.content" name="content" id="content"
               
              ></textarea>
            </div>
        
            <div class="row">
                <div class="col-sm-8">
                  <!-- text input -->
                  <div class="form-group">
                    <label>İmageUrl</label>
                    <input   type="text" class="form-control" #imageUrl [(ngModel)]="devops.imageUrl" name="imageUrl" id="imageUrl" />
                  </div>
                </div>
              </div>
           
        
           
        
            <div class="row">
              <div class="col-sm-6">
                <!-- text input -->
                <button type="submit" class="btn btn-warning mr-2 px-4" [disabled]="updatedevopsform.pristine">
                  Update
                </button>
                <br><br>
                <div *ngIf="updatedevopsform.pristine" class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Update Button Disabled</strong> If a change is made to the original form, it will be active.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
              
            </div>
          </form>




    </div>
    <!-- /.card-body -->
    
  </div>
  