


<div  id="fh5co-services" class="fh5co-bg-section">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-8 col-md-offset-2 text-center animate-box" data-animate-effect="fadeInUp">
				<div class="fh5co-heading">
					<span>{{homepage.miniTitle}}</span>
					<h2>{{homepage.title}}</h2>
					<p>{{homepage.titleContent}}</p>
				</div>
			</div>
		</div>
		<div class="row">


			<app-client-feature></app-client-feature>
			


		</div>
	</div>
</div>

<div id="fh5co-counter">
	<div class="container">

		<div class="row animate-box" data-animate-effect="fadeInUp">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<span>{{homepage.miniTitle2}}</span>
				<h2>{{homepage.title2}}</h2>
				<p>{{homepage.title2Content}}</p>
			</div>
		</div>

		<div class="row">
			
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
				<div class="feature-center">
					<span class="icon">
						<i class="ti-download"></i>
					</span>
					<span class="counter"><span class="js-counter" data-from="0" data-to="15"  data-speed="1500" data-refresh-interval="50">1</span>M+</span>
					<span class="counter-label">Downloads</span>

				</div>
			</div>
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
				<div class="feature-center">
						<span class="icon">
							<i class="ti-face-smile"></i>
						</span>
						<span class="counter"><span class="js-counter" data-from="0" data-to="2" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
						<span class="counter-label">Happy Clients</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-briefcase"></i>
						</span>
						<span class="counter"><span class=" js-counter" data-from="0" data-to="6" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
						<span class="counter-label">Projects Done</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-time"></i>
						</span>
						<span class="counter"><span class="js-counter" data-from="0" data-to="7" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
						<span class="counter-label">Hours Spent</span>

					</div>
				</div>
					
			</div>
		</div>
</div>

<!-- <div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
 -->

