<!-- general form elements -->
<div class="card card-success">
  <div class="card-header">
    <h3 class="card-title">Add Feature</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <form
      #addfeatureform="ngForm"
      #featureupdateform="ngForm"
      (ngSubmit)="addfeature(addfeatureform)"
    >
      <div class="row">
        <div class="col-sm-8">
          <!-- text input -->
          <div class="form-group">
            <label>Title</label>
            <input
              type="text"
              class="form-control"
              #title="ngModel"
              [(ngModel)]="feature.title"
              name="title"
              id="title"
              required
            />
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div *ngIf="title.invalid && title.dirty" class="alert alert-danger">
          Title Required
        </div>
      </div>

      <div class="form-group">
        <label>Content</label>
        <textarea
          class="form-control"
          rows="3"
          #content="ngModel"
          [(ngModel)]="feature.content"
          name="content"
          id="content"
          required
        ></textarea>
      </div>
      <div *ngIf="content.invalid && content.dirty" class="alert alert-danger">
        Content Required
      </div>

      <div class="row">
        <div class="col-sm-8">
          <!-- text input -->
          <div class="form-group">
            <label>Icon</label>
            <input
              type="text"
              class="form-control"
              #icon="ngModel"
              [(ngModel)]="feature.icon"
              name="icon"
              id="icon"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <!-- text input -->
          <button type="submit" class="btn btn-success mr-2 px-4" [disabled]="addfeatureform.invalid">Add</button>
          <br><br>
          <div *ngIf="addfeatureform.invalid" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Add Button Disabled</strong> It will be active if the required fields are filled
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- /.card-body -->
</div>
