<!-- general form elements -->
<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">About Page Setting</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form role="form" #updateaboutpageform="ngForm" (ngSubmit)="updateform(updateaboutpageform)">

           
            <div class="row">
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Enter ..." #title="ngModel" [(ngModel)]="aboutpage.title" name="title" id="title">
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Mini Title</label>
                        <input type="text" class="form-control" placeholder="Enter ..." #miniTitle="ngModel" [(ngModel)]="aboutpage.miniTitle" name="miniTitle" id="miniTitle">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Content</label>
                        <textarea class="form-control" rows="3" placeholder="Enter ..."
                        #content="ngModel" [(ngModel)]="aboutpage.content" name="content" id="content"
                        ></textarea>
                    </div>
                </div>

                <div class="col-sm-12">
                    <!-- text input -->
                    <div class="form-group">
                        <label> Title-2</label>
                        <input type="text" class="form-control" placeholder="Enter ..." #title2="ngModel" [(ngModel)]="aboutpage.title2" name="title2" id="title2">
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Content-2</label>
                        <textarea class="form-control" rows="3" placeholder="Enter ..."
                        #content2="ngModel" [(ngModel)]="aboutpage.content2" name="content2" id="content2"
                        
                        ></textarea>
                    </div>
                </div>

                <div class="col-sm-10">
                    <!-- text input -->
                    <div class="form-group">
                        <label> Image URL </label>
                        <input type="text" class="form-control" placeholder="Enter ..."
                        #imageUrl="ngModel" [(ngModel)]="aboutpage.imageUrl" name="imageUrl" id="imageUrl"
                        >
                    </div>
                </div>



            </div>
            <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <button type="submit" class="btn btn-success mr-2 px-4" [disabled]="updateaboutpageform.pristine">
                      Update</button>
                  <br><br>
                  <div *ngIf="updateaboutpageform.pristine" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Update Button Disabled</strong>  If a change is made to the original form, it will be active.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>


        </form>
    </div>
    <!-- /.card-body -->
</div>
