<!-- general form elements -->
<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Blog Page Setting</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form  #updateblogpageform="ngForm" (ngSubmit)="updateform(updateblogpageform)">

           
            <div class="row">
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Enter ..." #title="ngModel" [(ngModel)]="blogpage.title" name="title" id="title">
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Mini Title</label>
                        <input type="text" class="form-control" placeholder="Enter ..." #miniTitle="ngModel" [(ngModel)]="blogpage.miniTitle" name="miniTitle" id="miniTitle">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Content</label>
                        <textarea class="form-control" rows="3" placeholder="Enter ..."
                        #content="ngModel" [(ngModel)]="blogpage.content" name="content" id="content"
                        ></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                      <!-- text input -->
                      <button type="submit" class="btn btn-success mr-2 px-4" [disabled]="updateblogpageform.pristine">
                        Update</button>
                      <br><br>
                  <div *ngIf="updateblogpageform.pristine" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Update Button Disabled</strong>  If a change is made to the original form, it will be active.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    </div>
                  </div>
                
            </div>
        </form>
    </div>
    <!-- /.card-body -->
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-11">
                      <h3 class="card-title">Blogs</h3>
                    </div>
                    <div class="col-md-1">
                      <a routerLink="add">
                        <button class="btn btn-success btn-sm">Add <i>+</i></button>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <input
                        class="form-control form-control-sm"
                        type="text"
                        placeholder="Search Blog"
                        name="blogName"
                        id="blogName"
                        [(ngModel)]="blogName"
                        (ngModelChange)="SearchBlog()"
                      />
                    </div>
                  </div>
                  <br />
                </div>
                <!-- /.card-header -->
                
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 100px" (click)="sortbyid('id')">
                          ID &nbsp; <i class="fa fa-sort"></i>
                        </th>
                        <th>Blog Title</th>
                        <th>Content</th>
                       
                        <th style="width: 115px">Operation</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr *ngFor="let blog of blogs  
                      | orderBy: key:reverse
                      | paginate
                        : {
                            id: 'blogpaginate',
                            itemsPerPage: 5,
                            currentPage: pblog
                          }">
                        <td>{{blog.id}}</td>
                        <td>{{blog.title}}</td>
                        <td>
                           {{blog.content  | slice: 0:60 }}...
                         
                        </td>
                        
                        <td>
                          <div class="row">
                            <div class="col-sm-6">
                              <a routerLink="blog/{{blog.id}}">
                                <button class="btn btn-warning btn-sm">UPT</button>
                              </a>
                             
                            </div>
      
                            <div class="col-sm-6">
                              <a (click)="deleteblog(blog.id)">
                                <button class="btn btn-danger btn-sm">DEL</button>
                              </a>
                           
                            </div>
                          </div>
                        </td>
                      </tr>

                      
                    </tbody>
                  </table>
                </div>
                <div class="card-footer clearfix">
                  <ul class="pagination pagination-sm m-0 float-right">
                    <pagination-controls
                    id="blogpaginate"
                    (pageChange)="pblog = $event"
                  >
                  </pagination-controls>
                    <!-- <li class="page-item">
                      <a class="page-link" href="#">&laquo;</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">&raquo;</a>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</div>


