
<div id="fh5co-project">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading  animate-box">
                <span>{{workpage.miniTitle}}</span>
                <h2> {{workpage.title}} </h2>
                <p>{{workpage.content}}</p>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let work of works" class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a>
                   
                    <!-- @*<img src="https://res.cloudinary.com/practicaldev/image/fetch/s--G0LgQUxp--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://thepracticaldev.s3.amazonaws.com/i/ssqkgebqme30hf4fwmw0.png" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">*@ -->
                    <img src= "{{work.imageUrl}}" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>{{work.title}}</h3>
                </a>
            </div>
           
           
           

        </div>
    </div>

</div>

