
<div id="fh5co-blog" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>{{blogpage.miniTitle}}</span>
                <h2>{{blogpage.title}}</h2>
                <p>{{blogpage.content}}</p>
            </div>
        </div>

        <div class="row">

            <div *ngFor="let blog of blogs" class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
                <div class="fh5co-post">
                    <span class="fh5co-date">Sep. 12th</span>

                    <h3><a routerLink="{{blog.id}}">{{blog.title}}</a></h3>

                    <p>{{blog.content | slice: 0:120}}...</p>
                    <p class="author"><img src="../../assets/oko.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> Mike Adam</cite></p>
                </div>
            </div>
            
            <div class="col-md-12 text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- <div class="gototop js-top">
    <a href="/blog" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div> -->
